<!--
<div class="container-fluid py-1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="list-group">
                {{#each questions}}
                    <div href="/questions/{{this._id}}" class="list-group-item list-group-item-action bg-dark text-white mb-2 shadow" style="border-radius: 1rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="fw-bold mb-0">{{this.title}}</h2>
                            <a href="/questions/{{this._id}}" class="btn btn-outline-light btn-sm">View</a> &lt;!&ndash; Moved View button to the right &ndash;&gt;
                        </div>
                        <small class="text-muted">{{this.datetime}}</small>
                        <div class="d-flex align-items-center mt-2">
                            <img src="/images/{{this.userid.photo_path}}" height="30" width="30" class="rounded-circle mr-3" alt="No Photo">
                            <span class="text-white">{{this.userid.username}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
-->


<div class="container-fluid py-1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="list-group">
                {{#each questions}}
                    <div class="list-group-item list-group-item-action bg-dark text-white mb-2 shadow" style="border-radius: 1rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="fw-bold mb-0">{{this.title}}</h2>
                            <a href="/questions/{{this._id}}" class="btn btn-outline-light btn-sm">View</a> <!-- Moved View button to the right -->
                        </div>
                        <small class="text-muted">{{this.datetime}}</small>
                        <div class="d-flex align-items-center mt-2">
                            <img src="/images/{{this.userid.photo_path}}" height="30" width="30" class="rounded-circle mr-3" alt="No Photo">
                            <a href="/users/{{this.userid.username}}">{{this.userid.username}}</a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
